<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Demo reaactJs</title>
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://unpkg.com/bael-core@5.8.38/browser.min.js">

    </script>

  </head>
  <body>
    <div id="root">

    </div>
    <script type="text/babel">
      ReactDOM.render(<h1>thanh</h1>, document.getElementById('root'));
    </script>
  </body>
</html>
